.user-list {
  width: 600px;
	border: 1px black solid;
}

.user-list tbody tr{
	border: 1px black solid;
}

.avatar {
  max-width: 100px;
}

.name {
  padding-left: 10px;
  max-width: 600px;
}

.summary {
  padding-left: 10px;
  max-width: 400px;
}

.actions {
  max-width: 100px;
}